.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .4rem;
  line-height: .8rem;
  cursor: pointer;

  .logo-text {
    display: flex;
    flex-direction: row;
    gap: 0;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary);

    .colorful {
      color: var(--brand);
    }
  }
}
