:root {
  --primary: #02416d;
  --secondary: #0a5483;

  --text-primary: #333333;
  --text-secondary: #E9ECEF;

  --background: #f8f8ec;
  --brand: #aedd2b;

  --positive: #0D6EFD;
  --success: #198754;
  --warning: #FFC107;
  --danger: #DC3545;
}

$bg: var(--orange-color);

@mixin default-font {
  font-size: 24rem;
  color: $bg;
}

