<app-navbar-login
  textLinkButton="Já possui uma conta?"
  routerLinkButton="/login" />
<section class="signup-component">
  <mat-card class="signup">
    <mat-card-header>
      <mat-card-title class="title">Crie sua conta</mat-card-title>
    </mat-card-header>
    <form
      class="form-container"
      [formGroup]="signupForm"
      (ngSubmit)="onSubmit()">
      <mat-card-content class="form-field-container">
        <mat-form-field class="input-field-container">
          <mat-label>Nome</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="Name"
            [value]="signupForm.get('name')?.value" />
          <mat-error *ngIf="isInvalid('name', 'required')">
            Nome é <strong>obrigatório</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field-container">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="exemplo@email.com"
            [value]="signupForm.get('email')?.value" />
          <mat-error *ngIf="isInvalid('email', 'required')">
            Email é <strong>obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="isInvalid('email', 'email')">
            Email é <strong>inválido</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field-container">
          <mat-label>Senha</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="******"
            [value]="signupForm.get('password')?.value" />
          <mat-error *ngIf="isInvalid('password', 'required')">
            Senha é <strong>obrigatório</strong>
          </mat-error>
          <mat-error *ngIf="isInvalid('password', 'minlength')">
            Senha precisa ter no minímo 6 caracteres.
          </mat-error>
          <mat-error *ngIf="isInvalid('password', 'maxlength')">
            Senha pode conter no máximo 25 caracteres
          </mat-error>
          <mat-error *ngIf="isInvalid('password', 'pattern')">
            Senha é precisa conter caracteres especiais
          </mat-error>
        </mat-form-field>

        <mat-form-field class="input-field-container">
          <mat-label>Confirme Senha</mat-label>
          <input
            type="password"
            matInput
            formControlName="passwordConfirm"
            placeholder="******"
            [value]="signupForm.get('passwordConfirm')?.value" />
          <mat-error *ngIf="isInvalid('passwordConfirm', 'required')">
            Confirme sua senha
          </mat-error>
          <mat-error *ngIf="isInvalid('passwordConfirm', 'equalTo')">
            Senhas são diferentes
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <app-button
          [ariaLabel]="'login button'"
          [type]="'submit'"
          [disabled]="this.signupForm.invalid"
          [isLoading]="this.isLoading()"
          buttonText="Cadastrar"></app-button>
      </mat-card-actions>
      <p class="signup-text">
        Já possui uma conta?
        <a class="signup-link" role="button" routerLink="/login"
          >Clique aqui acessar</a
        >
      </p>
    </form>
  </mat-card>
</section>
