@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "app/core/sass/main";
@include mat.core();
$project-todo-primary: mat.define-palette(mat.$indigo-palette);
$project-todo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$project-todo-warn: mat.define-palette(mat.$red-palette);
$project-todo-theme: mat.define-light-theme((
  color: (
    primary: $project-todo-primary,
    accent: $project-todo-accent,
    warn: $project-todo-warn,
  )
));

@include mat.all-component-themes($project-todo-theme);
